* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    height: 20px;
    width: 30px;
}
.container {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-columns: repeat(3, 1fr);
}
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}
header {
    background-color: orange;
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}
main {
    background-color: gray;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr ;
}
section {
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
}
footer {
    background-color: orange;
    grid-column: 1 / -1;
    display: flex; 
    align-items: center;
    justify-content: center ;
  
}
video{
    height: 300px;
}
.card {
    border: 1px solid orange;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.midia{
    color: black;
}
.sectionVideo{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    justify-items: center;
}
.videoMidia{
    height: 700px;
}